
.panel {
  position: relative;
  background: white;
  border: 1px solid #EAE9E7;
  box-shadow: 0 1px 5px 1px rgba(172, 172, 172, 0.25);
  padding: 10px 10px;
  margin: 30px 0;
  border-radius: 2px;
  overflow: auto;
  max-width: 900px;
}

.poster {
  float: right;
  width: 200px;
}

.favorite {
  float: left;
  margin: 10px 8px 0 0;
}
