.subheading {
    font-size: small;
    margin: 0 0 10px;
}

.credit {
    color: dimgray;
    margin: 0 0 3px;
}

.plot {
    margin-top: 20px;
    font-size: large;
}

.toggle {
    font-size: large;
    vertical-align: center;
    margin-left: 10px;
    position: relative;
    bottom: 4px;
}

.saveButton {
    margin-top: 10px;
}